<div class="auth-body">
</div>
<div class="wrapper-page">
  <div class="container-fluid p-0">
    <div class="card">
      <div class="card-body">

        <h4 class="text-muted text-center font-size-18"><b>Логін</b></h4>

        <div class="p-3">
          <!-- TODO: fix form later -->
          <div class="form-horizontal mt-3">
            <div class="form-group mb-3 row">
              <div class="col-12">
                <input [(ngModel)]="email" class="form-control" type="text" required="" placeholder="Імейл">
              </div>
            </div>

            <div class="form-group mb-3 row">
              <div class="col-12">
                <input [(ngModel)]="password" class="form-control" type="password" required="" placeholder="Пароль">
              </div>
            </div>

            <div class="form-group mb-3 row">
              <div class="col-12">
                <div class="custom-control custom-checkbox">
                  <input [(ngModel)]="rememberMe" type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="form-label ms-1" for="customCheck1">Запам'ятати мене</label>
                </div>
              </div>
            </div>

            <div class="form-group mb-3 text-center row mt-3 pt-1">
              <div class="col-12">
                <button class="btn btn-info w-100 waves-effect waves-light" type="submit" (click)="onLogin()">Логін</button>
              </div>
            </div>

            <div class="form-group mb-0 row mt-2">
              <div class="col-sm-7 mt-3">
                <a href="auth-recoverpw.html" class="text-muted"><i class="mdi mdi-lock"></i> Забули свій пароль?</a>
              </div>
              <div class="col-sm-5 mt-3">
                <a href="auth-register.html" class="text-muted"><i class="mdi mdi-account-circle"></i>Створити аккаунт</a>
              </div>
            </div>
          </div>
        </div>
        <!-- end -->
      </div>
      <!-- end cardbody -->
    </div>
    <!-- end card -->
  </div>
  <!-- end container -->
</div>

