<div class="vertical-menu mm-active">

    <div data-simplebar="init" class="h-100 mm-show">
        <div class="simplebar-wrapper" style="margin: 0px;">
            <div class="simplebar-height-auto-observer-wrapper">
                <div class="simplebar-height-auto-observer"></div>
            </div>
            <div class="simplebar-mask">
                <div class="simplebar-offset" style="right: -16.8px; bottom: 0px;">
                    <div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden scroll;">
                        <div class="simplebar-content" style="padding: 0px;">

                            <!-- User details -->
                            <div class="user-profile text-center mt-3">
                                <div class="">
                                    <img src="https://cdn.iconscout.com/icon/free/png-512/free-avatar-370-456322.png"
                                        alt="" class="avatar-md rounded-circle">
                                </div>
                                <div class="mt-3">
                                    <h4 class="font-size-16 mb-1">{{email}}</h4>
                                </div>
                            </div>

                            <!--- Sidemenu -->
                            <div id="sidebar-menu" class="mm-active">
                                <!-- Left Menu Start -->
                                <ul class="metismenu list-unstyled mm-show" id="side-menu">
                                    <li class="menu-title">Меню</li>

                                    <li *ngIf="role == STUDENT_ROLE" class="mm-active">
                                        <a routerLink="/homework" class="waves-effect active">
                                            <i class="ri-dashboard-line"></i>
                                            <span>Домашня робота</span>
                                        </a>
                                    </li>

                                    <li class="mm-active">
                                        <a routerLink="/schedule" class="waves-effect active">
                                            <i class="ri-dashboard-line"></i>
                                            <span>Розклад занять</span>
                                        </a>
                                    </li>

                                    <li *ngIf="role == STUDENT_ROLE" class="mm-active">
                                        <a routerLink="/marks" class="waves-effect active">
                                            <i class="ri-dashboard-line"></i>
                                            <span>Мої оцінки</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <!-- Sidebar -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="simplebar-placeholder" style="width: auto; height: 937px;"></div>
        </div>
        <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
            <div class="simplebar-scrollbar" style="transform: translate3d(0px, 0px, 0px); display: none;"></div>
        </div>
        <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
            <div class="simplebar-scrollbar"
                style="height: 913px; transform: translate3d(0px, 0px, 0px); display: block;"></div>
        </div>
    </div>
</div>